on init
    chown system system /sys/class/timed_output/vibrator/cp_trigger_index
    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 664 /sys/class/timed_output/vibrator/enable
    chmod 664 /dev/drv2605
    chown system system /dev/drv2605

service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.nubia
    class hal
    user system
    group system
    shutdown critical
